@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 1500px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  position: relative;
}

h1 {
  font-family: Arial, sans-serif;
  color: #FF214F;
}

.grid-container>* {
  /* box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); */
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.img-logo {
  width: 100px;
}

/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  height: 150px;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
} */

.swiper {
  width: 300px;
  height: 150px;
  padding: 50px;
}

.swiper-slide {
  /* background-position: center;
  background-size: cover; */
  width: 100%;
  height: 150px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}



.controles {
  grid-area: controles;
  background-color: #85dd91;
}



.main {
  grid-area: main;
  background-color: #c3f61d;
}





.grid-container {
  display: grid;
  gap: 1px;

  grid-template:
    "header header header" 100px
    "controles controles controles" 50px
    "navbar navbar navbar"
    "main main sidebar1"
    "main main sidebar1"
    "sidebar2 sidebar2 sidebar2"
    "footer footer footer";
}

/* @media (min-width: 600px) {
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template:
      "header"
      "controles"
      "navbar"
      "main"
      "sidebar1"
      "sidebar2"
      "footer";
  }
} */